[y-page="pageGame"] {
	&,
	> * {
		padding: 0;
		position: fixed;
		bottom: 0;
		right: 0;
		left: 0;
		top: 0;
	}

	.game {
		font-size: 40pt;

		* {
			font-size: inherit;
		}
	}

	div.menu {
		background: white;
		position: fixed;
		left: 50%;
		top: 50%;
		translate: -50% -50%;
		margin: 0;
		padding: 0.5em 2em;
		border: 5px solid black;
		max-height: calc(200vh - 2em);
		max-width: calc(200vw - 2em);
		border-radius: 50px;

		> button {
			display: block;
			margin: 1em 0;
			padding: 2px 5px;
			width: 100%;
			text-align: left;
			font-family: "Trebuchet MS", "Open Sans", "Helvetica Neue", sans-serif;

			> kbd {
				font-size: 20pt;

				&::before {
					content: "(";
				}

				&::after {
					content: ")";
				}
			}
		}
	}
}
